{
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "endOfLine": "lf"
}
